/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section__title{
  text-align: center;
  margin-top: 2rem ;
  margin-bottom: 2.25rem;
  font-size :25px;
}
/*=============== THEME ===============*/
.change-theme{
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: .3s;
}
 
.change-theme:hover{
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue),24%,12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== PROFILE ===============*/
.profile{
    position: relative;
    padding-top: 3rem;
}

.profile__container{
row-gap: 2rem;
}

.profile__data{
    display: grid;
    text-align: center;
}

.profile__image{
    width: 300px;
    height: 300px;
    /* background: linear-gradient(180deg,
                       hsla(var(--hue),var(--sat),var(--lig),1)0%,
                       hsla(var(--hue),var(--sat),var(--lig),.2)100%); */
    border-radius: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  
}

.profile__image:hover{
  transform: scale(1.15);
}



.profile__border{
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 310px;
    height: 310px;
    border-radius: 15%;
    display: grid;
    place-items: center;
}

.profile__name{
    font-size: var(--large-font-size);
}

.profile__profession{
    font-size: var(--body-font-size);
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.profile__social{
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.profile__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
}

.profile__social-link:hover{
    color: var(--first-color);
}

.profile__info{
display:flex;
justify-content: center;
column-gap: 3.5rem;
margin-bottom: 3rem;
}



.profile__info-group{
    text-align: center;

}
 
.description__data{
  font-size: 1rem;
  color: var(--first-color);
}

.description__data:hover{
  transform: translateX(-.25rem);
}


/*=============== BUTTONS ===============*/
.button{
    display: inline-flex;
    align-items: center;  
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 8px 24px hsl(var(--hue), 100%, 99%);
    transition: background .3s;
    margin-top: 1rem;
  } 
 
  .button i{
    font-size: 2.5rem;
    transition: transform .3s;
  }
  
   .button:hover{
    background-color: var(--first-color-alt);
  } 
  
  
  .button:hover i{
    transform: translateX(.25rem);
  } 
  

/*=============== FILTERS TABS ===============*/




/*=============== SKILLS ===============*/
.skills__content{
  row-gap: 3rem;
  column-gap: 7rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  
}

.skills__area{
  text-align: center; 
  

}
.skills__title{
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  display: flex;
  justify-content: center;
}

.skills__group{
  display: grid;
  align-content:flex-start ;
  row-gap: 1.3rem;
}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

.skills__data i{
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 13px;
}

.skills__level{
  font-size: small;
}

/*=============== PROJECTS ===============*/
.projects__container{
  overflow: initial;
}

.projects__content{
  display: grid;
  justify-content: center;
}

.projects__img{
  width: 250px;
  border-radius: .75rem;
  margin-bottom: .5rem;
}

.projects__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
}

.projects__button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.projects__button i{
  font-size: 1rem;
  transition: transform .3s;
}

.projects__button:hover{
  transform: translateX(.25rem);
}


/* Swiper class */
.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after{
  content: '';
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 1.8rem;
  color: var(--title-color);
}

.projects__container .swiper-slide{
  margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets{
  bottom: 0;
}

.projects__container .swiper-pagination-bullets{
opacity: initial;
}

.projects__container .swiper-pagination-bullets-active{
  background-color: var(--title-color);
 
  }

/* .projects__container .swiper-button-prev{
  left: -1rem;
  top: 4.5rem;
}

.projects__container .swiper-button-next{
  left: -1rem;
  top: 4.5rem;
} */
/*=============== CONTACT ===============*/
.contact__container{
  column-gap: 5rem;
  display: flex;
  max-width: 1028px;
  justify-content: center;

}

.contact__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  margin-bottom: 2rem;

}

.contact__title i{
  font-size: var(--h2-font-size);
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
  display:grid;
}

.contact__info{
  row-gap: 2rem;
}

.contact__data{
  row-gap: .75rem;
}

.contact__data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  color: var(--title-color);
  
}

.contact__data-info{
  font-size: var(--small-font-size);
  font-family: var(--);

}

.contact__button{
width: max-content;
display: inline-flex;
column-gap: .5rem;
color: var(--title-color);
font-size: var(--small-font-size);
}

.contact__button i{
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform .3s;
}

.contact__button:hover i{
  transform: translateX(.2rem);
}

.contact__form{
  position: relative;
  row-gap: 2rem;
}

.contact__form-div{
  position: relative;
  height: 2rem;
}

.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  border: 1px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: small;
  padding: .35rem;
}


.contact__form-message{
  height: 10rem;
}

.contact__form-message textarea{
  resize: none;
}


.contact__button{
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact__button 
.contact__img{
  margin-top: 5rem;
  margin-left: 1rem;
} 

/*Status color*/
.color-red{
  color: hsl(4, 71%, 50%);
}

.color-blue{
  color: hsl(207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer__copy{
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;

}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 8%, 44%);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width:390px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__info{
    display:grid;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 3rem;
    }
  

   .skills__box{
     column-gap: 1rem;
     }

     .skills__content{
      display: grid;
      justify-content: center;
      margin-bottom: 2rem;
    }  


    .contact__container{
      row-gap: 4rem;
      display: grid;
    }

    .contact__img{
      width: 350px;
      margin-top: 0%;
    }




}

/* For medium devices */


/* For large devices */
